{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login_teacher.css' %}">
</head>
<body>
    
    <div class="login-container">
        <h2>Login</h2>
        <form action="{% url 'author_verification' %}" method="post">
            {% csrf_token %}

            <label for="username">Username:</label>
            <div class="username-container">
                <input type="text" id="username" name="username" required>
            </div><br>

            <label for="password">Password:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility()">&#x1F441;</span>
            </div><br>

            <input type="submit" value="Log In">
        </form>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            var toggleIcon = document.querySelector(".toggle-password");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.innerHTML = "&#x1F440;"; // Eye icon open
            } else {
                passwordInput.type = "password";
                toggleIcon.innerHTML = "&#x1F441;"; // Eye icon closed
            }
        }
    </script>
</body>
</html>