<!-- myapp/templates/continuousassessment_add.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <link rel="stylesheet" href="{% static 'add.css' %}">

    <title>Add Continuous Assessment</title>
</head>
<body>
    <h1>Add Continuous Assessment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'continuousassessment_list' %}">Cancel</a>
</body>
</html>
